.header {
    height: 80px;
}
.content {
    padding: 50px;
    min-height: calc(100vh - 120px);
    height: 100%;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
}
